<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Murid</title>
</head>
<body>
    <form action="/add" method="POST"><!--Mengirim Data dalam bentuk Methhod POST, actionnya oleh : /add-->
        <input type="text" placeholder="Masukan Nama" name="nama"> <!--Membuat Form Masukan Nama, name Atribut nama-->
        <input type="number" placeholder="Masukan Umur" name="umur"> <!--Membuat Form Masukan Umur, name Atribut umur-->
        <button type="submit">Simpan</button> <!--Membuat Button Submit Simpan-->
    </form>
</body>
</html>